.base {
  display: inline-flex;
  flex-direction: column;
  min-width: 120px;
  padding-block: 8px;
  background: var(--color-semantic-surface-regular-1);
  border: 1px solid var(--color-semantic-border-semi-weak);
  border-radius: 5px;
}
