.base {
  display: flex;
}

.label {
  flex-basis: 100%;
  padding-block: 7px;
  padding-inline: 8px;
  background: transparent;
  border: 0;
  line-height: 1;
}

.label:hover {
  background: var(--color-semantic-surface-regular-3);
}

.labelIn {
  display: -webkit-box;
  color: var(--color-semantic-text-body-regular);
  font-size: 12px;
  text-align: left;
  line-height: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
