.text {
  display: block;
  width: 100%;
  padding: 5px 9px 4px;
  color: var(--color-semantic-text-body-regular);
  font-size: 12px;
  line-height: 1.6;
  border: 1px solid var(--color-semantic-border-regular);
  border-radius: 2px;
}

.text::placeholder {
  color: var(--color-semantic-text-placeholder);
}

.text:focus-visible {
  outline: none;
  border-color: var(--color-semantic-border-focus);
  box-shadow: 0 0 0 3px var(--color-semantic-highlight-focus-ring-default);
}

.text:disabled {
  color: var(--color-semantic-text-disabled);
  background: var(--color-semantic-surface-regular-4);
}

.text[aria-invalid="true"] {
  border-color: var(--color-semantic-border-error);
}

.text[aria-invalid="true"]:focus-visible {
  box-shadow: 0 0 0 3px var(--color-semantic-highlight-focus-ring-error);
}
