.base {
  display: inline-block;
  width: 100%;
  background: var(--color-semantic-surface-regular-1);
  border: 1px solid var(--color-semantic-border-regular);
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.base:hover,
.base:focus {
  box-shadow: 0 3px 12px rgb(25 25 25 / 20%);
}

.image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.lines {
  display: flex;
  flex-direction: column;
  grid-row-gap: 8px;
  padding-block: 16px;
  padding-inline: 16px;
}

.title {
  display: -webkit-box;
  min-height: 3.2em;
  color: var(--color-semantic-text-heading-regular);
  font-weight: bold;
  line-height: 1.6;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.titleIn {
  font-style: normal;
}

.note {
  display: inline-flex;
  color: var(--color-semantic-text-body-weak);
  font-size: 10px;
  line-height: 1;
}

.connect::before {
  content: "-";
  display: inline;
  margin-inline: 4px;
}

.source {
  font-style: normal;
}

.base.small {
  flex-basis: 218px;
  min-width: 218px;
}

.base.small .image {
  height: 122px;
}

.base.small .title {
  font-size: 14px;
}

.base.medium {
  flex-basis: 277px;
  min-width: 277px;
}

.base.medium .image {
  height: 156px;
}

.base.medium .title {
  font-size: 16px;
}

.base.large {
  flex-basis: 374px;
  min-width: 374px;
}

.base.large .image {
  height: 210px;
}

.base.large .large {
  font-size: 18px;
}
