.base {
  display: inline-block;
  width: 100%;
  flex-basis: 275px;
  min-width: 275px;
  background: var(--color-semantic-surface-regular-1);
  border: 1px solid var(--color-semantic-border-regular);
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}

.base:hover,
.base:focus {
  box-shadow: 0 3px 12px rgb(25 25 25 / 20%);
}

.articleBg {
  background: 50% 50%;
  background-size: cover;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-row-gap: 8px;
  height: 156px;
  padding-block: 16px;
  padding-inline: 16px;
  background: linear-gradient(
    180deg,
    rgb(0 0 0 / 0%) 0%,
    rgb(0 0 0 / 100%) 100%
  );
}

.title {
  flex-grow: 0;
  display: -webkit-box;
  color: var(--color-semantic-text-heading-inverse);
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.titleIn {
  font-style: normal;
}

.note {
  flex-grow: 0;
  display: inline-flex;
  color: var(--color-semantic-text-inverse);
  font-size: 10px;
  line-height: 1;
}

.connect::before {
  content: "-";
  display: inline;
  margin-inline: 4px;
}

.source {
  font-style: normal;
}

.profile {
  display: flex;
  align-items: flex-start;
  grid-column-gap: 8px;
  padding-block: 16px;
  padding-inline: 16px;
}

.profileImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
}

.lines {
  display: flex;
  flex-direction: column;
  grid-row-gap: 8px;
}

.name {
  color: var(--color-semantic-text-body-regular);
  font-size: 16px;
  font-weight: bold;
}

.job {
  display: -webkit-box;
  color: var(--color-semantic-text-body-weak);
  font-size: 10px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.comment {
  display: -webkit-box;
  color: var(--color-semantic-text-body-regular);
  font-size: 12px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
