.base {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-block: 1px;
  cursor: pointer;
}

.base:has(input):not(:has(input:disabled)):hover {
  background: var(--color-gray-20);
}

.base:has(input:checked):not(:has(input:disabled)) {
  background: var(--color-blue-10);
}

.base:has(input:checked):not(:has(input:disabled)):hover {
  background: var(--color-blue-15);
}

.base:has(input:disabled) {
  cursor: not-allowed;
}

.base:has(input:disabled) .label {
  color: var(--color-gray-50);
}

.label {
  color: var(--color-black-100);
  font-size: 12px;
  line-height: 1;
}
