.base {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-block: 1px;
  cursor: pointer;
}

.base.isChecked {
  background: var(--color-blue-10);
}

.base:hover:not(.isDisable) {
  background: var(--color-gray-20);
}

.base:hover.isChecked {
  background: var(--color-blue-15);
}

.base.isDisable {
  cursor: not-allowed;
}

.base.isDisable .label {
  color: var(--color-gray-50);
}

.label {
  color: var(--color-black-100);
  font-size: 12px;
  line-height: 1;
}
