.base {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.base.disabled {
  cursor: not-allowed;
}

.base.disabled .label {
  color: var(--color-gray-50);
}

.label {
  color: var(--color-black-100);
  font-size: 12px;
  line-height: 1;
}
