/*  */
.tooltip__main {
  padding: 8px;
  background: var(--color-semantic-surface-regular-9);
  box-shadow: 0 3px 12px rgb(25 25 25 / 20%);
  border-radius: 2px;
  font-weight: normal;
  font-size: 10px;
  line-height: 160%;
  color: var(--color-semantic-text-inverse);
  z-index: 10;
}

.tooltip__main.auto {
  width: auto;
}

.tooltip__main.width240 {
  width: 240px;
}

.tooltip__main.width320 {
  width: 320px;
}

.tooltip__main.width400 {
  width: 400px;
}

.tooltip__label {
  font-size: 10px;
}

.tooltip__label .tooltip__arrow,
.tooltip__arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

.tooltip__arrow::before {
  /* content: "";
  transform: rotate(45deg);
  background: #333; */
  display: none;
}

:global(.tooltip[data-popper-placement^="bottom"] > .tooltip__arrow) {
  top: -4px;
}

:global(.tooltip[data-popper-placement^="top"] > .tooltip__arrow) {
  bottom: -4px;
}

:global(.tooltip[data-popper-placement^="left"] > .tooltip__arrow) {
  right: -4px;
}

:global(.tooltip[data-popper-placement^="right"] > .tooltip__arrow) {
  left: -4px;
}
