@charset "utf-8";

@import url("@acab/reset.css");

:root {
  overflow-wrap: break-word;
  word-break: break-word;
}

a {
  text-decoration: none;
}

.innner {
  display: flex;
  padding: 10px;
}

.button-inner li {
  margin: 1rem;
}

h1 {
  font-size: 20px;
  margin: 10px;
}

h2 {
  font-size: 16px;
  margin: 10px;
}

.card-inner {
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: repeat(4, 1fr);
}
