@charset "utf-8";
@import "@acab/reset.css";
.innner {
  display: flex;
  padding: 10px;
}
.innner.tooltip > div{
  margin: 1rem 1rem;
}

.button-inner li {
  margin: 1rem 1rem;
}
h1 {
  font-size: 20px;
  margin: 10px;
}
h2 {
  font-size: 16px;
  margin: 10px;
}
.card-inner {
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: repeat(4, 1fr);
}
