.label {
  display: flex;
  justify-content: space-between;
  grid-row-gap: 8px;
  min-width: 320px;
  padding-block: 13px;
  padding-inline: 16px;
  background: var(--color-gray-0);
  border: 0;
  border-top: 1px solid var(--color-gray-40);
}

.label::after {
  flex-shrink: 0;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2217%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23191919%22%20d%3D%22M12.627%2011.2%208.002%206.573%203.374%2011.2l-.707-.707L8%205.16l5.333%205.333-.707.707Z%22%2F%3E%3C%2Fsvg%3E");
  transition: transform 0.2s 0s ease;
}

.label:hover {
  background: var(--color-gray-20);
}

.labelIn {
  display: -webkit-box;
  color: var(--color-black-100);
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  line-height: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.open .label::after {
  transform: rotate(180deg);
}
